
<div class="deleteUser">
    <h1>Are you sure you want to delete your profile?</h1>
</div>
<div class="keepBtn" >
<button> <a href="/thank-you">Keep my profile</a> </button>
</div>

<form class="deleteuser" action="#" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete profile</button>
</form>


