

<div class="header {{red}}">
    <h1>Sign Our Petition!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, necessitatibus. Exercitationem soluta mollitia non optio, nihil similique, possimus, iusto sequi delectus iure obcaecati aspernatur itaque? Ut asperiores cumque a hic.</p>
</div>

<div class="main">
<form action="#"
method="POST">
    <input type="text" name="first-name" value="" placeholder="First Name">
    <input type="text" name="last-name" value="" placeholder="Last Name">
    <canvas id="signHere" width="250" height="70px" name="signature"></canvas>
    <input id="inputHidden" type="hidden" name="signature" value="">
    <button>Submit</button>
</form>
    <div class="error">
        {{#if error}}
    <h2 class="errMsg">{{error}}</h2>
        {{/if}}
    </div>
</div>   

