<nav></nav>

<div class="header">
    <h1>Sign Our Petition!</h1>
    <p>We are petitioning to make sure that every bar or vanue that have musicians play at their establishment get paid! You wouldn't go to a restaurant and ask for free food now would you?</p>
</div>

<div class="main {{red}}">
<form action="#"
method="POST">
    <p>Please sign here</p>
    <canvas id="signHere" width="400" height="70px" name="signature"></canvas>
    <input id="inputHidden" type="hidden" name="signature" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="divBtn">
    <button>Submit</button>
    </div>
</form>
    <div class="error">
        {{#if error}}
    <h2 class="errMsg">{{error}}</h2>
        {{/if}}
    </div>
</div>   

