<h1>Thank you for signing!
</h1>

<h3>here is your signature</h3>
<img src={{pic}} alt="signature">

<h2> we currently have {{num}} signers</h2>
<button><a href="/our-signers">click here to see the list of them!</a></button>