<nav></nav>
<div class="mainThanks">
<h1>Thank you for signing {{first}}!</h1>

<h3>here is your signature...</h3>
<img class="sigBox" src={{pic}} alt="signature">


<h2> Thanks to you, we now have <span class="numberSigners">{{num}}</span> signers!</h2>
<div class="nxtBtn">
<button><a href="/our-signers">Click here to see the list of them!</a></button>

</div>

</div>