* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(
        circle,
        rgba(191, 108, 144, 1) 0%,
        rgba(119, 32, 20, 1) 100%
    );
    color: antiquewhite;
}
nav {
    height: 70px;
}

/* REGISTER PAGE */

.register-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PETITION PAGE */
#signHere {
    border: dotted black 2px;
}

.red {
    background-color: red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.header p {
    width: 80%;
    text-align: center;
    padding: 30px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form div {
    padding-bottom: 20px;
}

input {
    border: 5px solid white;
    outline: none;
    padding: 7px;
    border-radius: 10px;
}
.divBtn {
    padding: 10px;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}

.main a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

button:hover {
    background: linear-gradient(to bottom, #f37070 5%, #d45757 100%);
    background-color: #ac3737;
    color: rgb(230, 227, 227);
}
button:active {
    position: relative;
    top: 1px;
}

/* THANK YOU PAGE */

.mainThanks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainThanks * {
    padding: 10px;
}

.mainThanks a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nxtBtn {
    padding: 10px;
}
.numberSigners {
    animation-name: twinkle;
    color: chartreuse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes twinkle {
    50% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}

/* Signers PAGE */

.titleSign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.titleSign p {
    width: 80%;
    padding: 10px;
}

.signersList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.signersList p {
    padding: 10px;
    font-size: 9pt;
}

.signersList .linebreak {
    height: 2px;
    width: 200px;
    background-color: white;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
